/*-----------------------*\
    #GLOBAL
\*-----------------------*/

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img, a, button, time, span {
    display: block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    font: inherit;
}

input, textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

::selection {
    background: var(--orange-yellow-crayola);
    color: var(--smoky-black);
}

:focus {
    outline-color: var(--orange-yellow-crayola);
}

html {
    font-family: var(--ff-poppins);
}

body {
    background: var(--smoky-black);
}



/*-----------------------*\
    #MAINLY-USED    
\*-----------------------*/

.sidebar, article {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin: 16px 0;
}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

article {
    display: none;
}

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    }
  100% {
    opacity: 1;
    }
}

.h2, .h3, .h4, .h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 {
    font-size: var(--fs-1);
}

.h3 {
    font-size: var(--fs-2);
}

.h4 {
    font-size: var(--fs-4);
}

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.article-title {
  position: relative;
  padding-bottom: 7px;
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: var(--text-gradient-yellow);
  border-radius: 3px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbar */
  height: 5px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--onyx);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--orange-yellow-crayola);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button {
    width: 20px;
}

.content-card {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  z-index: 1;
}

.content-card::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}



/*-----------------------*\
    #CUSTOM-ELEMENTS
\*-----------------------*/

:root {
    :root {

        /**
         * colors
         */
      
        /* gradient */
      
        --bg-gradient-onyx: linear-gradient(
          to bottom right, 
          hsl(240, 1%, 25%) 3%, 
          hsl(0, 0%, 19%) 97%
        );
        --bg-gradient-jet: linear-gradient(
          to bottom right, 
          hsla(240, 1%, 18%, 0.251) 0%, 
          hsla(240, 2%, 11%, 0) 100%
        ), hsl(240, 2%, 13%);
        --bg-gradient-yellow-1: linear-gradient(
          to bottom right, 
          hsl(45, 100%, 71%) 0%, 
          hsla(36, 100%, 69%, 0) 50%
        );
        --bg-gradient-yellow-2: linear-gradient(
          135deg, 
          hsla(45, 100%, 71%, 0.251) 0%, 
          hsla(35, 100%, 68%, 0) 59.86%
        ), hsl(240, 2%, 13%);
        --border-gradient-onyx: linear-gradient(
          to bottom right, 
          hsl(0, 0%, 25%) 0%, 
          hsla(0, 0%, 25%, 0) 50%
        );
        --text-gradient-yellow: linear-gradient(
          to right, 
          hsl(45, 100%, 72%), 
          hsl(35, 100%, 68%)
        );
      
        /* solid */
      
        --jet: hsl(0, 0%, 22%);
        --onyx: hsl(240, 1%, 17%);
        --eerie-black-1: hsl(240, 2%, 13%);
        --eerie-black-2: hsl(240, 2%, 12%);
        --smoky-black: hsl(0, 0%, 7%);
        --white-1: hsl(0, 0%, 100%);
        --white-2: hsl(0, 0%, 98%);
        --orange-yellow-crayola: hsl(45, 100%, 72%);
        --vegas-gold: hsl(45, 54%, 58%);
        --light-gray: hsl(0, 0%, 84%);
        --light-gray-70: hsla(0, 0%, 84%, 0.7);
        --bittersweet-shimmer: hsl(0, 43%, 51%);
      
        /**
         * typography
         */
      
        /* font-family */
        --ff-poppins: 'Poppins', sans-serif;
      
        /* font-size */
        --fs-1: 24px;
        --fs-2: 18px;
        --fs-3: 17px;
        --fs-4: 16px;
        --fs-5: 15px;
        --fs-6: 14px;
        --fs-7: 13px;
        --fs-8: 11px;
      
        /* font-weight */
        --fw-300: 300;
        --fw-400: 400;
        --fw-500: 500;
        --fw-600: 600;
      
        /**
         * shadow
         */
        
        --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
        --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
        --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
        --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
        --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
      
        /**
         * transition
         */
      
        --transition-1: 0.25s ease;
        --transition-2: 0.5s ease-in-out;
      
      }


}



/*-----------------------*\
    #MAIN
\*-----------------------*/

main {
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 300px;
}



/*-----------------------*\
    #SIDEBAR
\*-----------------------*/


.sidebar {
    margin-bottom: 15px;
    max-height: 112px;
    overflow: hidden;
    transition: var(--transition-2);
}

.sidebar.active {
    max-height: 400px;
}

.sidebar-info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.avatar-box {
    border-radius: 20px;
}

.info-content .name {
    color: var(--white-2) ;
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
    letter-spacing: -0.25px;
    margin-bottom: 10px;
}

.info-content .title {
    color: var(--white-1);
    background: var(--onyx);
    font-size: var(--fs-8);
    font-weight: var(--fw-300);
    width: max-content;
    padding: 3px 12px;
    border-radius: 8px;
}

.info-more-button {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 0 15px;
    font-size: var(--fs-7);
    color: var(--orange-yellow-crayola);
    background: var(--border-gradient-onyx);
    padding: 10px;
    box-shadow: var(--shadow-2);
    transition: var(--transition-1);
    z-index: 1;
}

.info-more-button::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: var(--bg-gradient-jet);
    transition: var(--transition-1);
    z-index: -1;
}

.info-more-button:hover, .info-more-button:focus {
    background: var(--bg-gradient-yellow-1);
}

.info-more-button:hover::before, .info-more-button:focus::before {
    background: var(--bg-gradient-yellow-2);
}

.info-more-button span {
    display: none;
}

.sidebar-info-more {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-2);
}

.sidebar.active .sidebar-info-more {
    opacity: 1;
    visibility: visible;
}

.contacts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.contact-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-info {
    max-width: calc(100% - 45px);
    width: calc(100% - 45px);
}

.contact-title {
    color: var(--light-gray-70);
    font-size: var(--fs-8);
    text-transform: uppercase;
    margin-bottom: 2px;
}

.contact-info :is(.contact-link, address) {
    color: var(--white-2);
    font-size: var(--fs-7);
}

.social-list {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 4px;
    padding-left: 7px;
}

.social-item .social-link {
    color: var(--light-gray-70);
    font-size: var(--fs-2);
}

.social-item .social-link:hover {
    color: var(--light-gray);
}

/*-----------------------*\
    #ADAPTIVE
\*-----------------------*/

@media (min-width: 450px) {
    /*  */
}

@media (min-width: 580px) {

    /* CUSTOM ELEMENTS */
    :root {
        --fs-1: 32px;
        --fs-2: 24px;
        --fs-3: 26px;
        --fs-4: 18px;
        --fs-6: 15px;
        --fs-7: 15px;
        --fs-8: 12px;
    }

    /* REUSED STYLES */

    .sidebar, article {
        width: 520px;
        margin-inline: auto;
        padding: 30px;
    }

    /* MAIN */

    main {
        margin-top: 60px;
        margin-bottom: 100px;
    }

    /* SIDEBAR */

    .sidebar {
        max-height: 180px;
        margin-bottom: 30px;
    }

    .sidebar.active {
        max-height: 584px;
    }


    .sidebar-info {
        gap: 25px;
    }

    .avatar-box {
        border-radius: 30px;
    }

    .avatar-box img {
        width: 120px;
    }

    .info-content .name {
        margin-bottom: 15px;
    }

    .info-content .title {
        padding: 5px 18px;
    }

    .info-more-button {
        top: -30px;
        right: -30px;
        padding: 10px 15px;
    }

    .info-more-button.span {
        display: block;
        font-size: var(--fs-8);
    }

    .info-more-button img {
        display: none;
    }

    .separator {
        margin: 30px 0;
    }

    .contacts-list {
        gap: 20px;
    }

    .contact-info {
        max-width: calc(100% - 65px);
        width: calc(100% - 65px);
    }
}